<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://hads13.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>hads13.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Hads13</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$Hads13</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HADS-13-BDConnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:hads-13.database.windows.net,1433;Initial Catalog=HADS-13-BD;User ID=hads-13@hads-13" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HADS-13-BDConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:hads-13.database.windows.net,1433;Initial Catalog=HADS-13-BD;User ID=hads-13@hads-13" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AsignaturasProfesor" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:hads-13.database.windows.net,1433;Initial Catalog=HADS-13-BD;User ID=hads-13@hads-13;Password=MikelMarta123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AsignaturasProfesor_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:hads-13.database.windows.net,1433;Initial Catalog=HADS-13-BD;User ID=hads-13@hads-13;Password=MikelMarta123" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>